<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>ee-double-input Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../ee-editable-input.html">
  </head>
  <body unresolved>

    <p>An example of <code>&lt;ee-editable-input&gt;</code>:</p>

    <ee-editable-input></ee-editable-input>

  </body>
</html>
